header>h1 {
    text-align: center;
}

p {
    text-align: justify;
}

.main-container {
    display: flex;
}

.container-item {
    width: 100%;
    padding: 24px;
}

.container-item>h2 {
    text-align: center;
}

/* Form display */
.container-form {
    text-align: left;
    background-color: #e7e7e7;
    padding: 24px;
}

.container-form>div {
    padding: 8px;
}

.form-item {
    height: 24px;
    border: 0px;
    border-radius: 8px;
    background-color: white;
    margin-top: 10px;
}



/*Display Style*/
.container-result {
    text-align: center;
    background-color: #e7e7e7;
    padding-top: 8px;
    padding-bottom: 24px;
}

.result-penyakit {
    text-align: center;
    background-color: #e7e7e7;
    padding-top: 8px;
    padding-bottom: 24px;
}

button {
    border: 0px;
    height: 32px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #d4d4d4;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#calculate-button {
    background-color: #293fbd;
    color: #fff;
}

#calculate-button:hover {
    background-color: #2ab1ff;
}

#reset-button {
    background-color: #d4d4d4;
    color: #fff;
}

#reset-button:hover {
    background-color: #bd2929;
}

button:hover {
    background-color: #28d312;
}

footer {
    background-color: #e7e7e7;
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media a {
    color: #000000;
    margin: 0 10px;
    font-size: 20px;
    transition: all 0.3s ease;
}

.social-media a:hover {
    color: #55acee;
}

@media only screen and (max-width: 600px) {
    .main-container {
        flex-direction: column;
    }

    .container-item {
        width: 100%;
        padding: 12px;
    }

    .form-item {
        width: 100%;
    }
}